
*.Rproj
data/*
Sabine/*
Praktikant/*
*.pdf
r-code/.Rhistory
project/*
presentations/*
graphics/*
*.Rproj.user*
.Rprofile

.Rhistory

.RData

notes/Notes.doc

r-code/01_data_preparation_disease_prevalence.html

r-code/01_data_preparation_disease_prevalence.md

r-code/01_data_prepreparation_sbr.R

r-code/01_data_prepreparation_kataster.R

r-code/01_data_prepatation.R
.Rproj.user
